@import "../../../styles/mixin";

section.partner-system-section {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  .container {
    display: flex;
    gap: 10px;
    .title-header-section {
      width: 30%;
      .description {
        p {
          text-align: justify;
        }
      }
    }

    .ps-carousel-item {
      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .ps-nav-item {
        padding: 0px 15px 15px 15px;
        .single-imgbox {
          max-width: 200px;
          height: 80px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}

#root > main > section.partner-system-section > div > div.ant-carousel {
  width: 70%;
}

@include responsive(mobile) {
  section.partner-system-section .container {
    display: block;
  }
  section.partner-system-section .container .title-header-section {
    width: 100%;
  }
  #root > main > section.partner-system-section > div > div.ant-carousel {
    width: 100%;
  }
}
