.chatBot-wrapper {
  position: fixed;
  width: 400px;
  height: 500px;
  bottom: 220px;
  right: 20px;

  .bpFabContainer {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 9999999999;
  }
}

.bpMessageListViewport {
  height: 400px !important;
}
