@import "../../styles/mixin";

div.Introduce-wrapper {
  section {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
  .fist-section {
    background-color: #ff6900;
    .container {
      display: grid;
      grid-template-columns: 100px auto;
      .col-sec {
        color: #fff;
        h1 {
          font-size: 36px;
        }
        .txt-italic {
          font-style: italic;
          font-size: 22px;
        }
        .txtFouder {
          font-size: 18px;
          text-align: right;
        }
      }
    }
  }
}

.values-container {
  background-color: rgb(32, 102, 210);
  padding: 20px;
  border-radius: 10px;
  .section-title-container {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .section-title-main {
    color: rgb(255, 255, 255);
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
  }

  .col {
    width: 48%;
    margin-bottom: 30px;

    @media (max-width: 850px) {
      width: 100%;
    }
  }

  .col-inner {
    position: relative;
    padding: 20px;
    color: #fff;
  }

  .icon-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .icon-box-img {
      width: 45px;
      margin-right: 15px;

      img {
        width: 100%;
      }
    }

    .icon-box-text {
      font-size: 1rem;

      strong {
        color: #fff;
      }
    }
  }

  .video {
    position: relative;
    padding-top: 56.5%;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.497);
    border-radius: 10px;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 10px;
    }
  }
}

@include responsive(mobile) {
  div.Introduce-wrapper .fist-section .container {
    grid-template-columns: 20px auto;
  }
}
