@import "../../styles/mixin";

div.Introduce-wrapper {
  section {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
  .fist-section {
    background-color: #ff6900;
    .container {
      display: grid;
      grid-template-columns: 100px auto;
      .col-sec {
        color: #fff;
        h1 {
          font-size: 36px;
        }
        .txt-italic {
          font-style: italic;
          font-size: 22px;
        }
        .txtFouder {
          font-size: 18px;
          text-align: right;
        }
      }
    }
  }

  .thrid-section {
    background-color: rgb(56, 56, 56);
    color: #fff;
    .thrid-wrapper {
      width: 100%;
      .title {
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: 600;
        h2 {
          margin: 0 15px;
        }
      }

      .thrid-container {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        gap: 40px;
        padding: 40px 0;
        .thrid-container-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          .thrid-image {
            width: 100px;
            height: 100px;
            margin-bottom: 15px;
            img {
              width: 100%;
              height: 100%;
            }
          }

          .thrid-content {
            text-align: center;
            strong {
              font-size: 30px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .fourth-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    .four-left,
    .four-right {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      .col-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        .col-inner {
          img {
            width: 100%;
            border-radius: 10px;
          }
        }
      }

      .col-right {
        width: 50%;

        .col-inner {
          img {
            width: 100%;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

.values-container {
  background-color: rgb(32, 102, 210);
  padding: 20px;
  border-radius: 10px;
  .section-title-container {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .section-title-main {
    color: rgb(255, 255, 255);
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
  }

  .col {
    width: 48%;
    margin-bottom: 30px;

    @media (max-width: 850px) {
      width: 100%;
    }
  }

  .col-inner {
    position: relative;
    padding: 20px;
    color: #fff;
  }

  .icon-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .icon-box-img {
      width: 45px;
      margin-right: 15px;

      img {
        width: 100%;
      }
    }

    .icon-box-text {
      font-size: 1rem;

      strong {
        color: #fff;
      }
    }
  }

  .video {
    position: relative;
    padding-top: 56.5%;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.497);
    border-radius: 10px;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 10px;
    }
  }
}

@include responsive(mobile) {
  div.Introduce-wrapper .fist-section .container {
    grid-template-columns: 20px auto;
  }

  .thrid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
  }
}
