.arward-section {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  .title-header-section {
    margin-bottom: 20px;
  }

  .arward-carousel-item {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .single-award-item {
      max-width: 290px;
      .award-imgbox {
        img {
          width: 100%;
          border-radius: 10px;
        }
      }
      .award-txtbox {
        color: #3c4043;
        font-size: 1.15em;
        line-height: 1.4;
        text-align: justify;
      }
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
