.user-settings {
  display: flex;
  padding: 40px 0px;
  justify-content: center;
  .user-settings_inner {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 7px;
    min-width: 500px;
    padding: 20px;
    box-shadow: 10px 10px 7px #ccc;
  }
  .avatar-user {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
}
