@import "../styles/variables";
.category-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  .category-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    .category-item {
      width: 300px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      text-align: center;
      img {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
        border: 1px solid #ccc;
      }
      .price {
        color: $quaternary-color;
      }
      .title {
        height: 100px;
      }
      &:hover {
        color: $primary-color;
      }
    }

    .category {
      width: 300px;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
      }
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.btn-buy {
  background-color: $secondary-color;
  color: #fff;
  width: 100%;
}

.redirec-to-card {
  width: 100%;
}
