.branding-line {
  width: 80px;
  position: relative;
  height: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;

  .branding-line-child {
    align-self: stretch;
    flex: 1;
    position: relative;
    background-color: #003cdc;
  }
  .branding-line-item {
    align-self: stretch;
    flex: 1;
    position: relative;
    background-color: #009925;
  }
  .branding-line-inner {
    align-self: stretch;
    flex: 1;
    position: relative;
    background-color: #ff961e;
  }
  .rectangle-div {
    align-self: stretch;
    flex: 1;
    position: relative;
    background-color: #ff1e23;
  }
}
